@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.backgroundimage {
    background-size: cover;
    height: 100vh;
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png');
}


.bg-container {
    background-color: #000000e6;
    border-radius: 14px;
    font-family: Bree Serif;
    color: #ffffff;
    padding: 14px;
    margin: 14px;
}

.heading {
    font-size: 24px;
}

.paragraph1 {
    font-size: 14px;
}

.paragraph2 {
    font-size: 24px;
}

.button1 {
    background-color: #ffffff;
    border-radius: 5px;
    font-family: "Roboto";
    border-width: 0px;
    width: 138px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    margin: 14px;
}